{
    "short_name": "Nxgit",
    "name": "Nxgit - Git with a cup of tea",
    "icons": [
      {
        "src": "{{AppSubUrl}}/img/nxgit-lg.png",
        "type": "image/png",
        "sizes": "880x880"
      },
      {
        "src": "{{AppSubUrl}}/img/nxgit-sm.png",
        "type": "image/png",
        "sizes": "120x120"
      },
      {
        "src": "{{AppSubUrl}}/img/nxgit-512.png",
        "type": "image/png",
        "sizes": "512x512"
      },
      {
        "src": "{{AppSubUrl}}/img/nxgit-192.png",
        "type": "image/png",
        "sizes": "192x192"
      }
    ],
    "start_url": "{{AppSubUrl}}/",
    "scope": "{{AppSubUrl}}/",
    "background_color": "#FAFAFA",
    "display": "standalone",
    "theme_color": "{{ThemeColorMetaTag}}"
  }